# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pooPoli\PAO-PROJECT-DAINEANU\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/out/
PAO-PROJECT-DAINEANU.iml
